body{
  margin:0;
}
input{
background: #EFEFEF;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Montserrat';
font-style:normal;
font-weight:100;
font-size: 23px;
line-height: 29px;
color: #97A4A2;
border-color:#EFEFEF;

}


.Grupo{
  width: 390px;
  height: 302px;
  display:flex;
  flex-direction:column;
  gap:20px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 35px;
}
.login{
width: 333px;
height: 156px;


font-family: 'Montserrat';
font-style:normal;
font-weight: 400;
font-size: 64px;
line-height: 78px;

color: #4B626C;
display: flex;
justify-content: center;
align-items: center;
}

.forms{
width: 100%;

display: flex;
flex-direction: column;
gap:15px;

}
.Grupo2{
  width: 425px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
}
.confirmar{
width: 15%;
height: 40px;
border-color:aliceblue;
background-image:url(./imgs/Arrow.png);
background-color:#97A4A2;
background-size:cover;
background-position: right;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
  margin-top: 35px;
  margin-left: 35px;
  
}
.links a{
 
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;


color: #97A4A2;

}


.container {
  display: flex;
  height: 100vh; 
}


.login-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  
}


.RetanguloImagem {
  flex: 1; 
  background-image: url('./imgs/image2.png'); 
  background-size: cover;
  background-position: center;
}

