

.middleG{
  flex:1;
  display: flex;
  flex-direction: column;
  margin: 5%; 
  height: 100%;
}
.containerG{
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto;
}
.gameG {
  display: flex;
  flex-direction: row;
}

.imggameG {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: last baseline;
  justify-content: left;
}
.godofwarG{
  width: 100%;
  height: 100%;
  position: static;
}

.percentG {
  width: 5%;
  height: 5%;
  background: #4B626C;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FCFAFA;
  margin-bottom: 3%;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.priceG {
  width: 15%;
  height: 5%;
  background: #FCFAFA;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4B626C;
  margin-bottom: 3%;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;

}

.imgrightG {
  width: 30%;
  background: #4B626C;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.texth1imgG {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FBF6F0;
  display: flex;
  justify-content: center;
}

.textboxG {
  width: 100%;
  height: 70%;
}

.textpimgG {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #FBF6F0;
}

.addG {
  height: 5%;
  width: 80%;
  background: #FCFAFA;
  border-radius: 5px;
  margin-top: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #4B626C;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}


.refundG {
  opacity: 0.5;
  height: 5%;
  width: 80%;
  background: #FCFAFA;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4B626C;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.boxofcartG{
  width:100%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
}
.carrinhoG {
  width: 50px;
  height: 50px;
  background-color: #4B626C;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px; 
  right: 20px;   
  z-index: 1000;
}

.carrinhoG:hover {
  background-color: #3a5059;
}


