@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FBF6F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
  position: fixed;
  z-index: 10;
  transition: height 0.3s ease; /* Adicionando transição */
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #4B626C;
  border-radius: 5px;
}

.imagembotao {
  width: 40px;
  height: 90%;
  background-image: url('./imgs/imagem2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
}

.barraclicks {
  display: flex;
  gap: 5%;
  transition: max-height 0.3s ease;
  width: 80%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
}

/*.barraclicks.show {
  max-height: 300px;
}*/

.barraclicks a {
  position: relative; 
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  color: #4B626C;
  text-decoration: none;
  padding-bottom: 5px; 
  border-right-color: #000;
}

.barraclicks a:hover {
  color: #000;
}

.barraclicks a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 100%; 
  height: 2px; 
  background-color: #000;
  transform: scaleX(0); 
  transform-origin: bottom right;
  transition: transform 0.3s ease; 
}

.barraclicks a:hover::after {
  transform: scaleX(1); 
  transform-origin: bottom left; 
}



.search {
  display: flex;
  align-items: center;
  background: rgba(151, 164, 162, 0.45);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 5px 10px;
  height: 50%;
  width: 10%;
  margin-right: 20px;
  position: relative;
  z-index: 11;
}

input {
  background: transparent;
  width: 100%;
  border: none;
  font-size: 14px;
}

.bottom {
  display: flex;
  flex: 1;
  margin-top: 5%;
}

.parteusuario {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.text1 {
  font-size: 40px;
  font-weight: bold;
  color: #4B626C;
}

.text {
  font-size: 30px;
  color: #4B626C;
}

.divlinks {
  display: flex;
  align-items:normal;
  gap:5px;
  flex-direction: column;
}

.link1{
  padding: 10px 20px;
  background: #4B626C;
  border-radius: 10px;
  color: #FBF6F0;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.link2 {
  padding: 10px 20px;
  background: #4B626C;
  border-radius: 10px;
  color: #FBF6F0;
  font-size: 18px;
  opacity: 0.5;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.partejogos {
  flex: 2;
  background: #4B626C;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 2%;
  color: #FBF6F0;
}

.text2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.Imagens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  width: 100%;
}

.imagem button {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.img1 {
  background-image: url(./imgs/img1.png);
}

.img2 {
  background-image: url(./imgs/img2.png);
}

.img3 {
  background-image: url(./imgs/img3.png);
}

.img4 {
  background-image: url(./imgs/img4.png);
}

.avaliacoes {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
.carrinho{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    background-color: #4B626C; 
    color: #fff; 
    border: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
    transition: background-color 0.3s ease; 
    font-size: large;
  }


  .carrinho:hover {
    background-color: #3a4b55; /* Cor do botão quando o mouse passa por cima */
  }
 


@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .barraclicks {
    flex-direction: column;
    gap: 10px;
    max-height: 0;
  }
  .barraclicks.show {
    max-height: 300px;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    height: auto;
    padding: 10px 0;
  }
  
  .search{
    display: none;
  }
  .search.hidden{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    width: 80%;
  }
  .bottom {
    flex-direction: column;
  }

  .parteusuario {
    align-items: center;
    text-align: center;
  }

  .divlinks {
    width: 100%;
  }

  .partejogos {
    padding: 10px;
  }

  .Imagens {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  .imagembotao{
    height: 50px;
  }
}

@media (max-width: 480px) {
  .navbar{
    flex-direction: column;
    position: relative;
  }
  .search.hidden{
    width: 80%;
    height: 5%;
  }
  input {
    font-size: 12px;
  }

  .text1 {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }

  .link1, .link2 {
    font-size: 20px;
  }

  .text2 {
    font-size: 18px;
  }
  .barraclicks a {
    font-size: 20px;
  }
  .avaliacoes {
    font-size: 12px;
  }
}
