.containerC{
  flex:1;
  display:flex;
  flex-direction:column;
}

.bottomC {
  display: flex;
  width:100%;
  height:100vh;
  margin-top: 5%;

}

.parteusuarioC {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin:5%;
}

.text1C {
  font-size: 40px;
  font-weight:bolder;
font-family: 'Montserrat';
font-style: normal;
font-weight:600;
line-height: 39px;

color: #4B626C;
}

.textC {
  font-size: 30px;
  color: #4B626C;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
line-height: 39px;

color: #4B626C;


}

.divlinksC {
  display: flex;
  align-items:normal;
  gap:5px;
  flex-direction: column;
}

.link1C{
  padding: 10px 20px;
  background: #4B626C;
  border-radius: 10px;
  color: #FBF6F0;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
 
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;




}

.link2C {
  padding: 10px 20px;
  background: #4B626C;
  border-radius: 10px;
  color: #FBF6F0;
  font-size: 18px;
  opacity: 0.5;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
 
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;






}

.partejogosC {
  flex: 2;
  background: #4B626C;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 2%;
  color: #FBF6F0;
}

.text2C {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top:20%;
  
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;

line-height: 39px;

color:white;


}

.ImagensC {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  width: 100%;
}

.imagemC button {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.img1C {
  background-image: url(./src/imgs/img1.png);
}

.img2C {
  background-image: url(./src/imgs/img2.png);
}

.img3C {
  background-image: url(./src/imgs/img3.png);
}

.img4C {
  background-image: url(./src/imgs/img4.png);
}


.avaliacoesC {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;



color:white;


}
 


@media (max-width: 768px) {
  .text2C{
    margin-top: 20px;
  }
  .bottomC {
    flex-direction: column;
  }

  .parteusuarioC {
    align-items: center;
    text-align: center;
  }

  .divlinksC {
    width: 100%;
  }

  .ImagensC {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
  .imagembotaoC{
    height: 50px;
  }
}

@media (max-width: 480px) {
  .bottomC{
    margin-bottom: 0;
  }
  .text1C{
    font-size: 30px;
  }

  .textC {
    font-size: 20px;
  }

  .link1C, .link2C {
    font-size: 20px;
  }

  .text2C {
    font-size: 18px;
  }

  .avaliacoesC {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .parteusuarioC{
    margin-top:100px;
  }
  .text1C {
    font-size: 60px; /* Título bem maior */
  }

  .textC {
    font-size: 40px; /* Subtítulo maior */
  }

  .link1C, .link2C {
    font-size: 26px; /* Texto dos botões maior */
    padding: 20px 40px; /* Botões mais espaçosos */
    border-radius: 15px; /* Bordas mais arredondadas */
  }

  .text2C {
    font-size: 40px; /* Texto adicional maior */
  }

  .avaliacoesC {
    font-size: 20px; /* Ajuste no tamanho das avaliações */
  }

  .imagemC button {
    height:150px; /* Altura ainda maior para botões de imagem */
    border-radius: 15px; /* Bordas mais arredondadas nos botões de imagem */
  }

  .ImagensC {
    gap: 25px; /* Maior espaçamento entre as imagens */
  }
}

