



.GrupoL{
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 35px auto;
  input {
    background: #EFEFEF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 23px;
    line-height: 29px;
    color: #97A4A2;
    border: none;
    padding: 10px;
  }
}

.loginL{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  color: #4B626C;
}

.formsL {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Grupo2L {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.confirmar1L {
  width: 15%;
  height: 100%;
  border: none;
  background-color: #FBF8F4;
  cursor: pointer;
}

.links1L {
  display: flex;
  flex-direction:column;
  justify-content: left;
  gap: 5px;
  margin: 35px auto;
}

.links1L a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #97A4A2;
  text-decoration: none;
}

.containerL {
  display: flex;
  height: 100vh;
}

.login-containerL {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.RetanguloImagem1L {
  flex: 1;
  display: flex;
  height: 100vh; /* Garante que a imagem ocupe a altura total da tela */

}

.foto1L {
  width: 100%;
  height: 100%; /* Mantém a altura total do contêiner */
}

.error-messageL {
  color: #4B626C;
  font-size: 20px;
  margin-top: 5px;
}

/* Ajuste para telas menores */
@media(max-width: 768px) {
  .containerL {
    flex-direction: column;
  }

  .RetanguloImagem1L {
    order: -1; /* Move a imagem para o topo no mobile */
    width: 100%;
    height: 50vh; /* Define altura específica para mobile */
  }

  .foto1L {
    width: 100%;
    height: 100%; /* Garante que a imagem ocupe todo o espaço disponível */
    object-fit: contain; /* Mostra a imagem inteira no mobile */
    object-position: center; /* Centraliza a imagem */
  }
  .login-containerL {
    margin-top: 50px;
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .links1L {
    margin-bottom: 50px;
  }

  .GrupoL {
    width: 90%;
    margin: 20px auto;
  }

  .loginL {
    font-size: 48px;
  }

  .formsL input {
    font-size: 18px;
  }

  .links1L a {
    font-size: 18px;
  }

  .confirmar1L {
    width: 20%;
  }
}
